*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;

	/* ## Colors

### Primary */

	--color-Dark-Gray: hsl(0, 0%, 63%);
	--color-Black: hsl(0, 0%, 0%);
	--color-White: hsl(0, 0%, 100%);
	--color-Very-Dark-Gray: hsl(0, 0%, 27%);
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 1.2rem;
	font-family: "Spartan";
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, min-content);
}

.hero {
	grid-column: 1 / span 4;
	position: relative;
	grid-row: 1;
	overflow: hidden;
}

.header {
	grid-column: 5/-1;
	grid-row: 1;
	padding: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav {
	position: absolute;
	padding: 8rem;
	display: flex;
	align-items: center;
	color: var(--color-White);
	z-index: 3;
}
.nav h2 {
	font-size: 2.5rem;
}

.links {
	display: flex;
	text-decoration: none;
	list-style: none;
	font-size: 1.5rem;
	margin-left: 8rem;
}
.links li {
	margin-right: 5rem;
	cursor: pointer;
	position: relative;
}
.links li::before{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;

	height: 0px;
	background-color: var(--color-White);
	transition: all 0.3s;
}

.links li:hover::before{
	width: 100%;
	height: 2px;
	
}
.slide-btn {
	grid-column: 5/6;
	grid-row: 1;
	align-self: flex-end;

	z-index: 2;

	height: 10rem;
	background-color: var(--color-Black);
	display: flex;
	justify-content: space-between;
}
button {
	width: 100%;
	background-color: currentColor;
	outline: none;
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: var(--color-Very-Dark-Gray);
}
button img {
	height: 2rem;
	width: 2rem;
}

.slides {
	height: 80vh;
	transition: all 0.5s;
	background-repeat: no-repeat;
	background-size: cover;
	
	width: 100%;


}

.slides-1 {
	background-image: url(./images/desktop-image-hero-1.jpg);

}
.slides-2 {
	background-image: url(./images/desktop-image-hero-2.jpg);
	
	position: absolute;
	top: 0;
	left: 0; 
}
.slides-3 {
	background-image: url(./images/desktop-image-hero-3.jpg);
	
	position: absolute;
	top: 0;
	left: 0; 
}

.header-details {
	display: grid;

	gap: 3rem;
}
.header__primary {
	font-size: 5rem;
	margin-bottom: 4rem;
}
.header__secondary {
	font-size: 1.4rem;
	color: var(--color-Dark-Gray);
	margin-bottom: 4rem;
	line-height: 1.8;
}
.cta {
	display: flex;
	align-items: center;
	justify-items: center;
}
.cta h3 {
	font-size: 1.4rem;
	letter-spacing: 1.6rem;
	text-transform: uppercase;
	margin-right: 4rem;
	cursor: pointer;
}
.cta h3:hover {
	color: var(--color-Dark-Gray);
}
.cta img {
	width: 5rem;
}
.image-1 {
	grid-row: 2;
	grid-column: 1 / span 2;
}
img {
	width: 100%;

	height: 100%;
}
.about {
	grid-row: 2;
	grid-column: 3 / span 3;
	display: flex;
	justify-items: center;
	flex-direction: column;
	padding: 8rem;
}
.about__header {
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	margin-bottom: 3rem;
}
.about__details {
	font-size: 1.4rem;
	color: var(--color-Dark-Gray);
	line-height: 1.8;
}
.image-2 {
	grid-row: 2;
	grid-column: 6/-1;
}
.mobile-nav {
	display: none;
}
.mobile-nav-open {
	transition: all 0.3s;
	height: 0rem;
	opacity: 0;
	position: fixed;
	z-index: 4;
	background-color: var(--color-White);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	width: 100%;
}
.mobile-nav-open img {
	height: 3rem;
	width: 3rem;
}
.mobile-links {
	display: flex;
	font-size: 1.5rem;
	justify-self: flex-end;

	list-style: none;
}
.mobile-links li:not(:last-child) {
	margin-right: 4rem;
}

@media only screen and (max-width: 88.12em) {
	html {
		font-size: 50%;
	}
}
@media only screen and (max-width: 75em) {
	html {
		font-size: 45%;
	}
}
@media only screen and (max-width: 62.5em) {
	html {
		font-size: 50%;
	}

	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, min-content);
	}

	.hero {
		grid-row: 1;
		grid-column: 1/-1;
	}

	.slide-btn {
		justify-self: end;
		width: 30vw;

		grid-column: 1;
	}
	.header {
		grid-row: 2;
		grid-column: 1;
		padding: 6rem;
		text-align: center;
		margin: 6rem 0;
	}

	.image-1 {
		grid-row: 3;
		grid-column: 1;
	}
	.about {
		grid-row: 4;
		grid-column: 1;
		text-align: center;
	}
	.image-2 {
		grid-row: 5;
		grid-column: 1;
	}
}

@media only screen and (max-width: 43em) {
	.nav {
		left: 25%;
	}
	.mobile-nav {
		display: block;
		position: absolute;
		left: 2rem;
		top: 8rem;

		z-index: 3;
	}
	.mobile-nav img {
		height: 2rem;
		width: 3rem;
	}

	.links {
		display: none;
	}

	.slides{
		height: 50vh;
	
	}
	.slides-1 {
		background-image: url(./images/mobile-image-hero-1.jpg);
	}
	.slides-2 {
		background-image: url(./images/mobile-image-hero-2.jpg);
	}
	.slides-3 {
		background-image: url(./images/mobile-image-hero-3.jpg);
	}

	.header{
		padding: 3rem;
	}

	.header-details{
		text-align: left;
		width: 100%;
	}
	.header__primary{
		font-size: 4rem;
	}

	.about{
		padding: 6rem 3rem;
		text-align: left;
	}

	.about__header{
		margin-bottom: 2rem;
	}
}
